.fullbanner {
  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

section.fullbanner.master.slick-initialized {
  position: relative;
  overflow: hidden;
  svg.slick-arrow.slick-disabled {
    opacity: 0.3;
    cursor: initial;
  }
  svg.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    cursor: pointer;
    &.esquerda {
      left: 10%;
    }
    &.direita {
      right: 10%;
    }
  }
  & > button {
    position: absolute;
    z-index: 1;
  }
  img {
    height: 100%;
  }
  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul.slick-dots {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    right: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    li {
      padding: 0px;
      margin: 0px 25px;
      cursor: pointer;
      button {
        padding: 0px;
        margin: 0px;
        font-size: 0px;
        text-indent: -999px;
        cursor: pointer;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        border: 1px solid #fff;
        background: transparent;
      }
      &.slick-active {
        button {
          background: #fff;
        }
      }
    }
  }
}
