footer {
  background: #202020;
  .footer-website {
    .conteudo {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 64px 0px 0px 0px;
      &:last-child {
        padding-top: 39px;
      }
      p {
        text-align: center;
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #555555;
      }
      h4 {
        font-family: $Montblanc;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: #ffffff;
        font-weight: 300;
        padding-bottom: 10px;
      }

      .box {
        .line {
          display: flex;
          align-items: center;
          img {
            margin-right: 23px;
          }
        }
      }
      .box.links {
        li {
          padding-bottom: 17px;
          a {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
            font-weight: 100;
          }
        }
      }
      .box.social.news {
        ul {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        ul.pagamentos {
          li {
            margin-right: 12px;
          }
        }
        ul li {
          margin-right: 38px;
        }
      }
      .newsletter {
        input[type="text"] {
          width: 100%;
          background: transparent;
          border: 1px solid #fff;
          padding: 18px;
          color: #f1f1f1;
        }
        label {
          display: block;
          position: relative;
          svg {
            position: absolute;
            right: 10px;
            top: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
  section.master.copyright {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 30px 0px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ffffff;
    font-family: $Montblanc;
    font-weight: 300;
    .conteudo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p.selecionar-pais,
      .v-topo {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .box {
      cursor: pointer;
      &:first-child {
        cursor: initial;
      }
    }
  }
}
