header {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  .icon {
    cursor: pointer;
  }
  section.master.top-news {
    background: #fff;
    &.hide {
      display: none !important;
    }
    svg {
      cursor: pointer;
    }
  }
  section.master.top-news .conteudo .line {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #202020;
    span {
      margin-left: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .conteudo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 18px 0px;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }
  .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    nav {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        li {
          padding: 12px 0px;
          a {
            color: #fff;
            font-family: $Montblanc;
            font-style: regular;
            font-size: 11px;
            vertical-align: middle;
            text-align: left;
            letter-spacing: 2%;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .box {
    width: 100%;
    max-width: 33.3%;
  }
  .box.logo {
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .box.cliente.acessos.lista,
  .box.search.location {
    display: flex;
    align-items: center;
    .icon {
      margin-left: 50px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
  .box.cliente.acessos.lista {
    justify-content: flex-end;
    .icon {
      margin-left: 50px;
      &:first-child {
        margin-left: 0px;
      }
    }
    .icon.cadastre-se.login {
      text-decoration: none;
      font-family: $Montblanc;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */
      text-align: right;
      letter-spacing: 0.02em;
      color: #ffffff;
      svg {
        margin-left: 18px;
      }
    }
  }
  .box.search.location {
    justify-content: flex-start;
  }
}
